<extend name="Base/common" />
<block name="header"></block>
<block name="body">
	<section>
		<div class="span12">
			<caption>私聊客户</caption>			
			<table class="table">				
				<thead>
					<tr>
						<th>#</th>
						<th style="width:5%;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;">客户</th>
						<th>性别</th>
						<th>电话</th>
						<th>星座</th>
						<th>喜欢美食</th>
						<th>喜欢电影</th>
						<th>工作</th>
						<th>时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody>
					<volist name="list" id="vo">
						<tr>
							<th scope="row">{$i}</th>
							<td>{$vo.name}</td>
							<td>{$vo.sex}</td>
							<td>{$vo.phone}</td>
							<td>{$vo.star}</td>
							<td>{$vo.fav_food}</td>
							<td>{$vo.fav_movie}</td>
							<td>{$vo.job}</td>
							<td>{$vo.time}</td>
							<td>
								<a href="{:U('Cust/edit',array('id'=>$vo['id'],'rid'=>$_REQUEST['rid']))}">编辑</a></td>
						</tr>
					</volist>
				</tbody>
			</table>
			<div style="margin:auto; text-align: center;" class="pagination">
				<ul>
			    {$page}
			  </ul>
			</div>			
		</div>
	</section>

</block>

<block name="side"> </block>
<block name="script">
	<script type="text/javascript">
		
		$(function() {
			var url = $("#del").attr("data-url");
			$("#del").click(function() {
				alert(url);
			});
		});
	</script>
</block>