<extend name="Base/common" />

<block name="header">
	<header class="jumbotron masthead" id="overview">
		<div class="container">
			<h1>博语森</h1>
			<p>简洁、直观、强悍的销售型机器人，打通QQ、微信社交媒体。</p>
			<p>
				<a href="{:U('User/register')}" class="btn btn-primary btn-large">开通</a>
			</p>
			<ul class="masthead-links">
				<li>
					<a href="####">说明</a>
				</li>
				<li>
					<a href="####">API</a>
				</li>
				<li>
					<a href="####">联系我们</a>
				</li>
				<li>
					Version 2.3.2
				</li>
			</ul>
		</div>
	</header>
</block>
<block name="body">
	<div class="container">

		<div class="span12">
		<section id="contents">
			<div class="">
				<img src="__STATIC__/bootstrap/img/bg1.png" />
			</div>
		</section>
	</div>

	</div>
	
</block>